<h1>Lista de categorias</h1>
             
<% form_tag categories_path , :method => :get do %>
	<h3> 
		Para <%= select_tag(:month, options_for_select(1..12, @month)) %> / 
		<%= select_tag(:year, options_for_select((Date.current.year - 5)..(Date.current.year + 5), @year)) %>
		<%= submit_tag 'alterar' %>
	</h3>
<% end %>

<%= link_to 'Gráfico: para onde vai o meu dinheiro?', charge_chart_index_path(:year => @year, :month => @month) %>
<br />
<%= link_to 'Gráfico: por categorias', categories_chart_index_path(:year => @year, :month => @month) %>
<br />
<br />

<%= render :partial => 'balance' %>

<table width="100%">
<% if @categories.length > 0 %>

	<% @categories.each do |category| %>
		<% if category.income? %>
		<tr class="income">
		<% else %>
		<tr class="charge">
		<% end %>
		  <td width="15%"><%=h category.name %></td>
		  <td><%= link_to 'Editar', edit_category_path(category) %></td>
		  <td><%= link_to 'Apagar', category, :confirm => 'Are you sure?', :method => :delete %></td>
			<td>
				<%= link_to 'Nova subcategoria', 
										 new_category_subcategory_path(category.id), :class => "add_subcategory" %>
			</td>
			<td align="right" width="15%">
				<strong><%= currency(category.sum) %></strong>
			</td>
		</tr>
		<%= render :partial => 'subcategories', :locals => {:category => category} %>
	<% end %>

<% else %>
	<tr>
		<td colspan="5"><i>Nenhuma categoria encontrada.</i></td>
	<tr>
<% end %>
</table>


<br />
<br />


